@{
    ViewBag.Title = "Home Page";
}
@using ReportViewerForMvc;
<main>
    <div class="row h-100">
        <section class="" aria-labelledby="gettingStartedTitle">
            <span class="fs-2 fw-bold mt-1 mb-1">Publish log</span>
            <table class="table table-bordered table-hover table-striped table-light w-100">
                <thead>
                    <tr class="fw-bold"><th>Ngày</th><th>Nội dung</th><th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>14:09 - 17/07/2024</td><td>Xong báo cáo liên quan đến tiền</td><td></td></tr>
                    <tr><td>14:40 - 18/07/2024</td><td>Bảng kê phiếu nhập</td><td><span class="badge bg-success">Hoàn thành</span></td></tr>
                    <tr><td></td><td>Bảng kê hóa đơn mua hàng hóa và dịch vụ</td><td><span class="badge bg-success">Hoàn thành</span></td></tr>
                    <tr><td></td><td>Sổ nhật ký mua hàng </td><td><span class="badge bg-secondary">Đang thực hiện</span></td></tr>
                </tbody>
            </table>
        </section>
    </div>
</main>