@{
    ViewBag.Title = "Home Page";
}
@using ReportViewerForMvc;
<main>
    <div class="row h-100">
        <section class="" aria-labelledby="gettingStartedTitle">
            <span class="fs-2 fw-bold mt-1 mb-1">Publish log</span>
            <table class="table table-bordered table-hover table-striped table-light w-100">
                <thead>
                    <tr class="fw-bold"><th>Ngày</th><th>Nội dung</th><th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center"><td>14:09 - 17/07/2024</td><td>Báo cáo liên quan đến tiền</td><td><span class="badge bg-success">Hoàn thành</span></td></tr>
                    <tr class="text-center"><td>10:10 - 23/07/2024</td><td>Báo cáo hàng nhập mua</td><td><span class="badge bg-success">Hoàn thành</span></td></tr>
                    <tr class="text-center"><td>10:35 - 29/07/2024</td><td>Chuyển Procedure từ A0000000 --> BoroWeb</td><td><span class="badge bg-success">Hoàn thành</span></td></tr>
                </tbody>
            </table>
        </section>
    </div>
</main>