@{
    ViewBag.Title = "Home Page";
}
@using ReportViewerForMvc;
<main>
    <div class="row h-100">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAQFACOj-pgIa93xjlpZD_UG7qrtsKXvzc1Q&s" />
            <div><span>PUBLISH DATE: 11:07 - 15/07: Set mẫu bc mặc định của Tổng Hợp Hàng Nhập Mua = 1</span></div>
            <div><span>PUBLISH DATE: 16:33 - 15/07: Đổi url report server </span></div>
            <div><span>PUBLISH DATE: 10:28 - 16/07: Sửa report </span></div>
        </section>
    </div>
</main>