@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAQFACOj-pgIa93xjlpZD_UG7qrtsKXvzc1Q&s" />
            <div><span>PUBLISHED TIME: 9:35 - 15/07</span></div>
            <div><span>PUBLISHED TIME: 9:39 - 15/07</span></div>
        </section>
    </div>
</main>