@{
    ViewBag.Title = "Home Page";
}
@using ReportViewerForMvc;
<main>
    <div class="row h-100">
        <section class="" aria-labelledby="gettingStartedTitle">
            <span class="fs-2 fw-bold mt-1 mb-1">Publish log</span>
            <table class="table table-bordered table-hover table-striped table-light">
                <thead>
                    <tr class="fw-bold"><th>Ngày</th><th>Nội dung</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>14:09 - 17/07/2024</td><td>Xong báo cáo liên quan đến tiền</td></tr>
                </tbody>
            </table>
        </section>
    </div>
</main>